body{
  background-color: honeydew;
  text-align: center;
}

h1{
  color: darkcyan;
}

.App div{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  display:flex;
  flex-direction: column;
  padding:20px;
  border: 1px solid crimson;
  height: fit-content;
  width:fit-content
}

a{
  
  background-color: crimson;
  color:white;
  padding:10px 20px;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  
}